{%extends "administration/base_admin.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">
      <div class="container" style="padding-top:20px">
            <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Atendimento
                            </div>
                            <div class="card-body">
                            </div>
            </div>
      </div>
</div>
{%endblock%}