{%extends "administration/base_admin.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">
      <div class="container" style="padding-top:20px">
            <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Atendimento
                            </div>
                            <div class="card-body">
                                {% for message in messages %}
                                    <div class="alert {{message.tags}}">{{message}}</div>
                                {%endfor%}
                                    <form method="POST" enctype="multipart/form-data" action=".">{% csrf_token %}
                                      <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="{{form.user.id_for_label}}">{{form.user.label}}</label>
                                                {{form.user|add_class:"form-control"}}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="{{form.customer.id_for_label}}">{{form.customer.label}}</label>
                                               {{form.customer|add_class:"form-control"}}
                                            </div>
                                      </div>
                                      <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="{{form.date.id_for_label}}">{{form.date.label}}</label>
                                                {{form.date.errors}}
                                                <input type="date" class="form-control" value="{{customerservice.date|date:'Y-m-d'}}" name="date">
                                            </div>
                                            <div class="form-group col-md-2">
                                                 <label for="{{form.start.id_for_label}}">{{form.start.label}}</label>
                                                {{form.start.errors}}
                                                {{form.start|add_class:"form-control"|attr:"type:time"}}
                                                <!--<input type="time" class="form-control" value="{{customerservice.start|time:'H:i'}}" name="time">-->
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label for="finish">Hora de término</label>

                                                <input class="form-control" name=finish type="time" readonly>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label for="{{form.discount.id_for_label}}">{{form.discount.label}}</label>
                                                {{form.discount.errors}}
                                                {{form.discount|add_class:"form-control"}}
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="{{form.payment.id_for_label}}">{{form.payment.label}}</label>
                                                {{form.payment.errors}}
                                                {{form.payment|add_class:"form-control"}}
                                            </div>
                                      </div>

                                      <div class="form-row">
                                          <div class="form-group col-md-8">
                                                    <p>Serviço</p>
                                          </div>
                                          <div class="form-group col-md-3">
                                                    <p>Quantidade</p>
                                          </div>
                                      </div>
                                        {{form_serviceitem.management_form}}
                                      <div class="form-row inlineform">

                                                {%for fsi in form_serviceitem %}
                                          <div class="form-group col-md-8">
                                                    {{fsi.service|add_class:"form-control"}}
                                          </div>
                                          <div class="form-group col-md-3">
                                                    {{fsi.quantity|add_class:"form-control"}}
                                          </div>

                                                {%endfor%}
                                      </div>
                                    <button type="submit" class="btn btn-primary">Atualizar</button>
                                </div>

                            </div>

                                    </form>
                            </div>
            </div>
      </div>
</div>
{%endblock%}
{%block script%}
<script type="text/javascript">
    $(function() {
        $('.inlineform').formset({
            prefix: '{{ form_serviceitem.prefix }}',
            addText: "Novo",
            deleteText: "Remover",
            addCssClass: "btn btn-success",
            deleteCssClass: "btn btn-danger",
        });
    })
</script>
{%endblock%}