{%extends "administration/base_admin.html" %}
{%block content%}
                        <form method="POST" action=".">
                            {% csrf_token %}
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h1 class="mt-4">Dashboard</h1>
                            </div>

                                <div class="col-md-5">
                                    {{form}}
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>

                        </div>
                              </form>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4 justify-content-end">
                                    <div class="card-body  blockquote text-center h1 mb-0">
                                        <strong>{{customer_service_month}}</strong>
                                    </div>
                                    <div class="card-footer d-flex align-items-center">
                                        <a class="small text-white stretched-link" href="#">Atendimentos/Mês</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Warning Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body blockquote text-center h1 mb-0">
                                        <strong>R$ {{total_profit}}</strong>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">Lucro/Mês</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body blockquote text-center h1 mb-0">
                                        <strong>R$ {{total_billing}}</strong>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">Faturamento/Mês</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-area mr-1"></i>
                                        Area Chart Example
                                    </div>

                                    <div class="card-body">{{barchartcs|safe}}<!--<canvas id="myAreaChart" width="100%" height="40">--></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar mr-1"></i>
                                        Faturamento x Lucro (Dia)
                                    </div>

                                    <div class="card-body px-n3">{{barchart|safe}}<!--<canvas id="myBarChart" width="100%" height="40">--></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                DataTable Example
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Usuário</th>
                                                <th>Cliente</th>
                                                <th>Data</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for cs in customer_service%}
                                            <tr>
                                                <td><a href="{% url 'customer_service:update' pk=cs.pk%}">{{cs}}</a></td>
                                                <td>{{cs.user}}</td>
                                                <td>{{cs.customer}}</td>
                                                <td>{{cs.date|date:"d/m/Y"}}</td>
                                                <td>{{cs.total_service}}</td>

                                            </tr>
                                        {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

{%endblock%}

