{% extends "administration/base_admin.html"%}
{% load widget_tweaks %}
{% block content %}

<!--
    <form method="GET" action="{%url 'search_customer' %}" class="form-inline my-2 my-lg-0 float-sm-right" style="padding-bottom:20px">
        <input class="form-control mr-sm-2" type="search" placeholder="Busca" value="{{request.GET.word}}" name="word" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
-->
<div class="container-fluid">
      <div class="container" style="padding-top:20px">
            <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Clientes Cadastrados
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col">Nome</th>
                                  <th scope="col">Sobrenome</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Telefone</th>
                                  <th scope="col">Criado em</th>
                                  <th scope="col">Modificado em</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for customer in customers %}
                                <tr>
                                  <td>{{customer.new_id}}</td>
                                  <td><a href="{%url 'detail_customers' new_id=customer.new_id%}">{{customer.name}}</a></td>
                                  <td>{{customer.last_name}}</td>
                                  <td>{{customer.email}}</td>
                                  <td>{{customer.phone}}</td>
                                  <td>{{customer.created_at|date:"d/m/Y H:i"}}</td>
                                  <td>{{customer.modified_at|date:"d/m/Y H:i"}}</td>
                                </tr>
                              {% endfor %}
                              </tbody>
                                    </table>
                                </div>
                            </div>
            </div>
      </div>
</div>
{%endblock%}