{%extends "administration/base_admin.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid">
      <div class="container" style="padding-top:20px">
            <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Cadastro de cliente
                            </div>
                            <div class="card-body">

                          {% for message in messages %}
                          <div class="alert {{message.tags}}">{{message}}</div>
                          {%endfor%}
                            <form method="POST" enctype="multipart/form-data" action=".">{% csrf_token %}
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="{{form.picture.id_for_label}}">{{form.picture.label}}</label>
                                  {{form.picture.errors}}
                                  {{form.picture|add_class:"form-control-file"}}
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
                                  {{form.name.errors}}
                                    {{form.name|add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="{{form.last_name.id_for_label}}">{{form.last_name.label}}</label>
                                  {{form.last_name.errors}}
                                    {{form.last_name|add_class:"form-control"}}
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="{{form.birth.id_for_label}}">{{form.birth.label}}</label>
                                  {{form.birth.errors}}
                                    {{form.birth|attr:"type:date"|add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="{{form.cpf.id_for_label}}">{{form.cpf.label}}</label>
                                  {{form.cpf.errors}}
                                    {{form.cpf|attr:"onkeypress:mascaraCpf(this)"|add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="{{form.sex.id_for_label}}">{{form.sex.label}}</label>
                                  {{form.sex.errors}}
                                    {{form.sex|add_class:"form-control"}}
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
                                  {{form.email.errors}}
                                    {{form.email|add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="{{form.phone.id_for_label}}">{{form.phone.label}}</label>
                                  {{form.phone.errors}}
                                    {{form.phone|attr:"id:phone"|attr:"onkeypress:mascara(this)"|add_class:"form-control"}}
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="{{form.address.id_for_label}}">{{form.address.label}}</label>
                                  {{form.address.errors}}
                                    {{form.address|add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3">
                                  <label for="{{form.city.id_for_label}}">{{form.city.label}}</label>
                                  {{form.city.errors}}
                                    {{form.city|add_class:"form-control"}}
                                </div>
                                <div class="form-group col-md-3">
                                  <label for="{{form.district.id_for_label}}">{{form.district.label}}</label>
                                  {{form.district.errors}}
                                    {{form.district|add_class:"form-control"}}
                                </div>
                              </div>
                              <button type="submit" class="btn btn-primary">Cadastrar</button>
                            </form>
                        </div>
            </div>
      </div>
</div>
{%endblock%}
{%block script%}
<script type="text/javascript">
function mascara(phone){
            if(phone.value.length == 0)
                phone.value = '(' + phone.value; //quando começamos a digitar, o script irá inserir um parênteses no começo do campo.
            if(phone.value.length == 3)
                phone.value = phone.value + ') '; //quando o campo já tiver 3 caracteres (um parênteses e 2 números) o script irá inserir mais um parênteses, fechando assim o código de área.

            if(phone.value.length == 10)
                phone.value = phone.value + '-'; //quando o campo já tiver 8 caracteres, o script irá inserir um tracinho, para melhor visualização do telefone.
            else
                phone.value = phone.value;
}

function mascaraCpf(cpf){
            if(cpf.value.length == 3)
                cpf.value = cpf.value + '.';
            if(cpf.value.length == 7)
                cpf.value = cpf.value + '.';
            if(cpf.value.length == 11)
                cpf.value = cpf.value + '-';
            else
            cpf.value = cpf.value;
}
</script>
{%endblock%}