{%extends "administration/base_admin.html" %}
{% load widget_tweaks %}
{% block content %}
<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <div class="container" style="padding-top:20px">
                          {% for message in messages %}
                          <div class="alert {{message.tags}}">{{message}}</div>
                          {%endfor%}
                            <form method="POST" enctype="multipart/form-data" action=".">{% csrf_token %}
                              <div class="form-row">
                                <div class="form-group col-md-2">
                                  {%if customer.picture %}
                                  <img src="{{customer.picture.url}}" name="picture" class="img-thumbnail" style="width:150px; height:auto">
                                  {%else%}
                                  <img src="{{DEFAULT_IMAGE}}" name="picture" class="img-thumbnail" style="width:150px; height:auto">
                                  {{DEFAULT_IMAGE}}
                                  {% endif %}
                                </div>
                                <div class="form-group col-md-2">
                                  {{form.picture|add_class:"form-control-file"}}
                                </div>

                              </div>
                              <div class="form-row" >
                                <div class="form-group col-md-6" >
                                  <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
                                  <input type="text" class="form-control" value="{{customer.name}}" name="name">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="{{form.last_name.id_for_label}}">{{form.last_name.label}}</label>
                                  <input type="text" class="form-control" value="{{customer.last_name}}" name="last_name">
                                </div>

                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-4">
                                  <label for="{{form.birth.id_for_label}}">{{form.birth.label}}</label>
                                  <input type="date" class="form-control" name="birth" value="{{customer.birth|date:'Y-m-d'}}">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="{{form.cpf.id_for_label}}">{{form.cpf.label}}</label>
                                  <input type="text" class="form-control" value="{{customer.cpf}}" name="cpf">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="{{form.sex.id_for_label}}">{{form.sex.label}}</label>
                                  <select class="form-control" name="sex">
                                    <option value="{{customer.sex}}">{%if customer.sex == "Feminino" %}Feminino{%else%}Masculino{%endif%}</option>
                                    <option value="{%if customer.sex == 'Feminino'%}Masculino{%else%}Feminino{%endif%}">{%if customer.sex == "Masculino" %}Feminino{%else%}Masculino{%endif%}</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="{{form.email.id_for_label}}">{{form.email.label}}</label>
                                  <input type="email" class="form-control" value="{{customer.email}}" name="email">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="{{form.phone.id_for_label}}">{{form.phone.label}}</label>
                                  <input type="text" class="form-control" value="{{customer.phone}}" name="phone">
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="{{form.address.id_for_label}}">{{form.address.label}}</label>
                                  <input type="text" class="form-control" value="{{customer.address}}" name="address">
                                </div>
                                <div class="form-group col-md-3">
                                  <label for="{{form.city.id_for_label}}">{{form.city.label}}</label>
                                  <select class="form-control" name="city">
                                    <option value="{{customer.city}}">{{customer.city}}</option>
                                    <option value="Natal">Natal</option>
                                    <option value="Parnamirim">Parnamirim</option>
                                    <option value="São Gonçalo do Amarante">São Gonçalo do Amarante</option>
                                    <option value="Extremoz">Extremoz</option>
                                    <option value="Ceará-Mirim">Ceará-Mirim</option>
                                    <option value="São José de Mipibu">São José de Mipibu</option>
                                    <option value="Outra">Outra</option>
                                  </select>
                                </div>
                                <div class="form-group col-md-3">
                                  <label for="{{form.district.id_for_label}}">{{form.district.label}}</label>
                                  <input type="text" class="form-control" value="{{customer.district}}" name="district">
                                </div>
                              </div>

                              <button type="submit" class="btn btn-primary">Atualizar</button>
                            </form>
                        </div>
                    </div>
                </main>
{%endblock%}